/* typography */



.ContentContainer {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    min-width: 50%;
    margin-left:auto;
    margin-right:auto;
}

@media (min-width:780px) {
    .ContentContainer {
        flex-direction: row;
    }
}


.ProfileInfoContainer {
    display: inline-block;
    width: 50%;
    margin-left:auto;
    margin-right:auto;
}




.ProfileInfoContainer p {
    margin-bottom:1.25em;
    border-radius: 2px;
    box-shadow: 1px 1.5px 1.5px 1px #aaaaaa;
    background-color: #F0F5FC;
    padding:0.5em;
    
}



.PhotoArea {
    border-radius: 2px;
    width:40%;
    margin-left:auto;
    margin-right:auto;
    display: inline-block;
}

@media (min-width:780px) {
    .PhotoArea {
        margin-left:2%;
    }
}


.GitPhoto {
    width: 100%;
}

.UpdateButton {
    color:white;
    width:25%;
    margin-left:auto;
    margin-right:auto;
    display:block;
    background-color: #2D9CDB;
    font-size: 2rem;
}

@media (min-width:780px) {
    .UpdateButton {
        margin-left:55%;
    }
}