
.helperImage {
    width: 100%;
}

.scenarioContainer {
    padding-left: 10px;
    padding-top: 10px;
}

.testLineContainer {
    display: flex;
    align-items: center;
}

.testLineContainer p {
    font-size: 14px;
}

.testLineContainer svg {
    height: 10px;
}

.testLineContainer button {
    padding: 1px;
}